

body {
  background-color: hsla(49, 100%, 72%, 0.938);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
 
.Chali{
  max-width: auto;
  align-items: center;
  justify-content: center;
  display: relative;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
}


span {
 /* margin: 20px; */
  background-color: hsla(49, 100%, 72%, 0.938);
  padding: 0;
  font-weight: 800;
}

.img1 {
  max-width: 50px;
  height: auto; 
}

.imgContainer{
  display: flex;
  gap: 10px;
  align-items: center;
}

.text{
  display: flex;
  font-weight: 600;
  order: 1;
  margin-left: 10px ;  
  
}


/* pseudo code*/

h2::selection {
  background-color: hsla(49, 100%, 72%, 0.938);
}

/* Responsive style */

@media screen and (max-width: 1400px) {
  .container {
    width: 400%; 
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 90%;
  }
}
