

body {
  background-color: hsla(49, 100%, 72%, 0.938);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* box-sizing: border-box; */
}
 
.Chali{
  max-width: auto;
  align-items: center;
  justify-content: center;
  display: relative;
  margin-top: 10px;
}


.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20em;
  padding: 20px;
  /* margin: auto; */
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
  border-radius: 20px 20px 20px 20px;

}

span {
 /* margin: 20px; */
  background-color: hsla(49, 100%, 72%, 0.938);
  margin-top: 10px;
  padding: 0px;
  font-weight: 800;

}

.img1 {
  max-width: 50px;
  height: auto; 
}

.class img {
  border-radius: 19px 19px 19px 19px;
  width: auto;
}

.imgContainer{
  display: flex;
  gap: 10px;
  align-items: center;
}

.text{
  display: flex;
  font-weight: 600;
  order: 1;
  margin-left: 10px ;  
}

.attribution{
  font-size: 14px; 
    text-align: center;
    position: absolute;
    width: auto;
    margin-top: 40px;
}



/* pseudo code*/
h2:hover {
  color: hsla(49, 100%, 72%, 0.938);
cursor: pointer;
}

/* Responsive style */

@media screen and (max-width: 1400px) {
  .container {
    width: 400%; 
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 90%;
  }
}
